{% if section.settings.should_show_afterpay_banner %}
  <style>
    #shopify-section-afterpay-banner .announcement-bar {
      background-color: {{ section.settings.afterpay_banner_background_color }};
      text-align: center;
      text-decoration: none;
    }
    .announcement-bar__message.afterpay {
      font-size: medium;
      color: {{ section.settings.afterpay_banner_text_color }};
      margin-bottom: 0px;
      padding: 10px 0; 
    }
  </style>
  <div class="announcement-bar">
    <p class="announcement-bar__message afterpay" style="margin-top:0px;">
      <img 
        src="https://static.afterpay.com/integration/product-page/logo-afterpay-{{logo_color}}.png" 
        alt="Afterpay" style="vertical-align: middle; width: 86px; height: auto;">
      or 4 interest-free payments of $1.24 with  ⓘ
      <a href="javascript:void(0);" style="text-decoration: none" data-afterpay-modal="{{ request.locale.iso_code }}_{{ shop.address.country_code }}" style="color:{{ section.settings.afterpay_banner_text_color }};">Info</a>
    </p>
  </div>
  <script src="https://js.afterpay.com/afterpay-1.x.js" defer></script>
{% endif %}