<div class="stock_availability">
  <span>Available</span>
  <div  class="iia-list-item iia-id-{{location-id}}">
      <div class="iia-title-text">{{titleText}}</div>
      <div class="iia-address">{{address1}} {{address2}} {{city}} {{zip}}</div>
      <div class="iia-phone">{{phone}}</div>
      <div class="iia-info">{{info}}</div>
</div>
</div>