{%- assign st = section.settings -%}

{%- liquid  
  assign sort_by = results.sort_by | default: results.default_sort_by
  for option in results.sort_options
    if option.value == sort_by
      assign sort_by_name = option.name | escape
      break
    endif
  endfor
-%}
<div class="sf__collection-toolbar">
  <div class="sf__toolbar-wrapper">
    <div class="sf__toggle-filter flex {% unless st.sidebar == 'fixed' %}xl:hidden{% endunless %}">
      {%- if st.show_filter -%}
        <button class="sf__sidebar-open {% unless st.show_filter %}hidden{% else %}flex items-center font-medium mr-4 md:mr-8{% endunless %}">
            <span class="mr-2">{{ 'collections.toolbar.show_filter' | t }}</span>
            {% render 'icon', name: 'chevron-down', size: 'extra-small' %}
        </button>
      {%- endif -%}
      {% if st.show_sorting %}
        <button class="sf__sortmb-icon md:hidden flex items-center font-medium">
          <span data-sortby-option>{{ sort_by_name }}</span>
          {% render 'icon', name: 'chevron-down', size: 'custom', class: 'ml-2 w-[12px] h-[12px]' %}
        </button>
      {% endif %}
    </div>
    {%- if st.show_sorting or st.show_columns_switcher -%}
      <div class="flex flex-1 items-center justify-between">
        <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
          <div class="flex-1"></div>
          <div class="sf__gridColumn-view flex pl-4 md:pl-7">
           {% if st.show_sorting %}
          <div class="font-medium hidden md:block" data-toolbar-sorting>
            <div class="sf__custom-select">
              {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
              <select name="sort_by" aria-describedby="a11y-refresh-page-message">
                {%- for option in results.sort_options -%}
                  <option 
                    value="{{ option.value | escape }}"
                    {% if option.value == sort_by %} selected="selected"{% endif %}
                    data-index="{{ forloop.index0 }}">
                    {{ option.name | escape }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          </div>
        {% endif %}
          </div>
      </div>
    {%- endif -%}
  </div>
</div>
