<!-- /snippets/inventory-countdown.liquid -->

{% comment %}

  This snippet is used to show the remaining number of products on PDP, FP and Quickview.

{% endcomment %}

<style>
  .wishlist-whale-button-collection {
    top: 38em !important;
  }

  @media only screen and (max-width: 600px) {
    .wishlist-whale-button-collection {
      top: 27em !important;
      right: 15px !important;
    }
  }
</style>

{%- liquid
  assign max_inventory = 10
  assign instore_only = 10
  assign online_only = 10
  assign instore_online = 10
  assign show_remaining_class = 'count-is-unavailable'
  assign current_inventory = 0
assign test = 'start'
assign test = current_variant
  
  if current_variant.inventory_policy == 'deny' and current_variant.inventory_management
    if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_inventory
      assign show_remaining_class = 'count-is-low'
      assign current_inventory = current_variant.inventory_quantity
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-in'
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-instore_only'
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-online_only'
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-instore_online'
    else
      assign show_remaining_class = 'count-is-out'
    endif
  endif 
-%}

<script data-product-remaining-json type="application/json">
  {
    {%- for variant in product.variants -%}      
      {%- assign maximum = 11 -%}
      {%- assign quant = maximum | plus: 10 -%}
      {%- if variant.inventory_policy == 'deny' and variant.inventory_management -%}
        {%- assign quant = variant.inventory_quantity | at_most: maximum -%}
      {%- endif -%}
      "{{ variant.id | json }}": "{{ quant | json }}"{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  }
</script>

{%- capture inventory -%}
 
  <span data-remaining-max="{{ max_inventory }}" data-remaining-count>{{ current_inventory | default: 0 }}</span>
{%- endcapture -%}

<span data-remaining-max="{{ test }}" data-remaining-count>{{ current_inventory | default: 0 }}</span>


  {% for variant in product.variants %} 
  
    <form method="post" action="/cart/add" class="product__form product-form__item--payment-button" data-product-form id="AddToCartForm--template--{{product.id}}-{{ variant.id }}__main">
      <input type="hidden" name="id" value="{{variant.id}}" />
      <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
      <button type="submit" name="add" value="Add to cart" class="btn btn--submit product__submit__add btn-addtocart" data-add-to-cart data-focus-element >Add to cart</button>
    </form>

    <input id="QuickShopModal{{product.id}}-{{ variant.id }}" type="button" value="Quick" class="quick-product__btn-{{product.id}}-{{ variant.id }}" data-productId="{{product.id}}" data-handle="myProdutHandle" /> 
  
    <div id="product-{{product.id}}"  class="product-{{product.id}}-{{ variant.id }}">
        {{ variant.id }}
    </div>

    
<script>
    (function(){
      function setUpQuickView(button){
        button.addEventListener('click', function(){
          /*
          * For this example the QuickView Button is expected to have following attribiutes 
          * Example:
          * <button data-productId="6777ffff" data-handle="myProdutHandle">Quick view </button>
          *
          */

          const id = button.dataset.productId;
          const handle = button.dataset.handle;
          
          /* Some themes put each product into its own container when the Pop-up is open
          *  Typically appending productId to the Id of the div which shows QuickView Modal
          *  If your theme does not use the concept of One Div per product and dynamically 
          *  inserts product detials into a Single Div then selector could be simpler wihtout needing
          *  product id
          */

          const productPopUpContainerSelector = `#QuickShopModal-${id}`;

          /*
          *  Themes which use one div per product to show Quicview will also remember the variantId 
          *  this is a helper method to get selected variantId for the quickview product
          * 
          */

          const variant = window.inventoryInfo.api.getSelectedvariant(productPopUpContainerSelector);
          window.inventoryInfo.api.showOnQuickView({handle:handle,variant:variant}, 
          productPopUpContainerSelector);
        });

      }

      window.addEventListener("DOMContentLoaded", function() {
        //Get all Quickview buttons on the page and hook up click event

        const quickViewBtns = document.querySelectorAll('.quick-product__btn');
        for(let i=0;i<quickViewBtns.length;i++){
            setUpQuickView(quickViewBtns[i]);
        }
      });
    })();
  </script>
  {% endfor %} 

 
<div class="variant__countdown {{ show_remaining_class }}" data-remaining-wrapper>
 <span class="variant__countdown--in">{{ 'products.product.in_stock' | t }}</span>
  <span class="variant__countdown--low">{{ 'products.product.remaining_html' | t: inventory: inventory }}</span>
  <span class="variant__countdown--out">{{ 'products.product.out_of_stock' | t }}</span>
  <span class="variant__countdown--instore_online">{{ 'products.product.instore_online' | t }}</span>
  <span class="variant__countdown--instore_only">{{ 'products.product.instore_only' | t }}</span>
  <span class="variant__countdown--online_only">{{ 'products.product.online_only' | t }}</span>
</div>

 
 