<!-- /snippets/inventory-countdown.liquid -->

{% comment %}

  This snippet is used to show the remaining number of products on PDP, FP and Quickview.

{% endcomment %}

<style>
  .wishlist-whale-button-collection {
    top: 38em !important;
  }

  @media only screen and (max-width: 600px) {
    .wishlist-whale-button-collection {
      top: 27em !important;
      right: 15px !important;
    }
  }
</style>

{%- liquid
  assign max_inventory = 10
  assign instore_only = 10
  assign online_only = 10
  assign instore_online = 10
  assign show_remaining_class = 'count-is-unavailable'
  assign current_inventory = 0
assign test = 'start'
assign test = current_variant
  
  if current_variant.inventory_policy == 'deny' and current_variant.inventory_management
    if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_inventory
      assign show_remaining_class = 'count-is-low'
      assign current_inventory = current_variant.inventory_quantity
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-in'
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-instore_only'
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-online_only'
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-instore_online'
    else
      assign show_remaining_class = 'count-is-out'
    endif
  endif 
-%}

<script data-product-remaining-json type="application/json">
  {
    {%- for variant in product.variants -%}      
      {%- assign maximum = 11 -%}
      {%- assign quant = maximum | plus: 10 -%}
      {%- if variant.inventory_policy == 'deny' and variant.inventory_management -%}
        {%- assign quant = variant.inventory_quantity | at_most: maximum -%}
      {%- endif -%}
      "{{ variant.id | json }}": "{{ quant | json }}"{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  }
</script>

{%- capture inventory -%}
 
  <span data-remaining-max="{{ max_inventory }}" data-remaining-count>{{ current_inventory | default: 0 }}</span>
{%- endcapture -%}

<span data-remaining-max="{{ test }}" data-remaining-count>{{ current_inventory | default: 0 }}</span>

<div class="nyree">
<script type="text/javascript">  
(function(){

    const loadApp = function(){
     
var productIdentifier = {

                          handle:"st-patricks-day-triangle-bunting-plastic-56403", 

                          variant:8101996233003

                      };

      		window.inventoryInfo.api.loadApp(productIdentifier, '#test');
}

  	if(window.inventoryInfo){

  		loadApp();

    }else{

      

      document.addEventListener('inventoryInfo.appLoaded', function(){
//alert("here");
   		 	loadApp();   

 	  });

}

 })();
 //loadApp();


</script>
</div>
<div id="test"></div>
{% for product in products %} 
<div id="inventory-info-app" class="iia-container"></div>
    {% endfor %} 
 
<div class="variant__countdown {{ show_remaining_class }}" data-remaining-wrapper>
Hi
  {{ 'products.product.instore_only' | t }}
   {{ current_variant | json }}

  {% for product in products %} 
  <div InventoryManagmentProduct>start{{product.id}}stop
  {% for variant in product.variants %} 
   
                 <div InventoryManagment data-id="{{variant.title}}" data-inventory="{{variant.inventory_quantity}}">{{variant.store_availabilities}}

                   {% for avail in variant.store_availabilities %} 
                     here
                    {% endfor %} 
                 </div> 
  
                 {% endfor %} 
  </div>
      {% endfor %}
  

  
 
  
</div>

 
 