<!-- /snippets/inventory-countdown.liquid -->

{% comment %}

  This snippet is used to show the remaining number of products on PDP, FP and Quickview.

{% endcomment %}

<style>
  .wishlist-whale-button-collection {
    top: 38em !important;
  }

  @media only screen and (max-width: 600px) {
    .wishlist-whale-button-collection {
      top: 27em !important;
      right: 15px !important;
    }
  }
</style>

{%- liquid
  assign max_inventory = 10
  assign instore_only = 10
  assign online_only = 10
  assign instore_online = 10
  assign show_remaining_class = 'count-is-unavailable'
  assign current_inventory = 0
assign test = 'start'
assign test = current_variant
  
  if current_variant.inventory_policy == 'deny' and current_variant.inventory_management
    if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_inventory
      assign show_remaining_class = 'count-is-low'
      assign current_inventory = current_variant.inventory_quantity
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-in'
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-instore_only'
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-online_only'
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-instore_online'
    else
      assign show_remaining_class = 'count-is-out'
    endif
  endif 
-%}

<script data-product-remaining-json type="application/json">
  {
    {%- for variant in product.variants -%}      
      {%- assign maximum = 11 -%}
      {%- assign quant = maximum | plus: 10 -%}
      {%- if variant.inventory_policy == 'deny' and variant.inventory_management -%}
        {%- assign quant = variant.inventory_quantity | at_most: maximum -%}
      {%- endif -%}
      "{{ variant.id | json }}": "{{ quant | json }}"{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  }
</script>

{%- capture inventory -%}
 
  <span data-remaining-max="{{ max_inventory }}" data-remaining-count>{{ current_inventory | default: 0 }}</span>
{%- endcapture -%}

<span data-remaining-max="{{ test }}" data-remaining-count>{{ current_inventory | default: 0 }}</span>





  {% for variant in product.variants %} 
    <form method="post" action="/cart/add" class="ContactForm center">
      <input type="hidden" name="id" value="{{variant.id}}" />
      <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
      <input type="submit" value="Add to cart" class="button" style="margin-top:7px;" />
    </form>

    <div id="product-{{product.id}}-{{ variant.id }}" >
        {{ variant.id }}
    </div>       

      <input id="product-{{product.id}}-{{ variant.id }}" type="button" value="Quick" class="quick-product__btn" style="margin-top:7px;" />
      
    <script type="text/javascript"> 

   (function(){
      function setUpQuickView(button){

        button.addEventListener('click', function(){     
          
          const id = button.dataset.productId;
          const handle = button.dataset.handle;
          const productPopUpContainerSelector = `#QuickShopModal-${id}`;
          const variant = window.inventoryInfo.api.getSelectedvariant(productPopUpContainerSelector);
          
          window.inventoryInfo.api.showOnQuickView({
                                                      handle:handle,
                                                      variant:variant
                                                   }, 
                                                   productPopUpContainerSelector);
        });
      }

      window.addEventListener("DOMContentLoaded", function() {

        const quickViewBtns = document.querySelectorAll('.quick-product__btn');
        for(let i=0;i<quickViewBtns.length;i++){
            setUpQuickView(quickViewBtns[i]);
        }
      });
    })();


      
      /*
       (function(){

    const loadApp{{product.id}} = function(){
      
       //document.addEventListener('DOMContentLoaded', function() {
       //  alert("{{product.handle}} {{ variant.id }}");
       var productIdentifier = {
          handle:"{{product.handle}}", 
          variant:{{ variant.id }}
      };

      window.inventoryInfo.api.loadApp(productIdentifier, '#product-{{product.id}}-{{ variant.id }}');
      //}, false); 

      }

  	if(window.inventoryInfo){

  		loadApp{{product.id}}();

    }else{

      

      document.addEventListener('inventoryInfo.appLoaded', function(){

   		 	loadApp{{product.id}}();   

 	  });

}

 })();
      */
    </script>
  {% endfor %} 

 
<div class="variant__countdown {{ show_remaining_class }}" data-remaining-wrapper>
 <span class="variant__countdown--in">{{ 'products.product.in_stock' | t }}</span>
  <span class="variant__countdown--low">{{ 'products.product.remaining_html' | t: inventory: inventory }}</span>
  <span class="variant__countdown--out">{{ 'products.product.out_of_stock' | t }}</span>
  <span class="variant__countdown--instore_online">{{ 'products.product.instore_online' | t }}</span>
  <span class="variant__countdown--instore_only">{{ 'products.product.instore_only' | t }}</span>
  <span class="variant__countdown--online_only">{{ 'products.product.online_only' | t }}</span>
</div>

 
 