<!-- /snippets/inventory-countdown.liquid -->

{% comment %}

  This snippet is used to show the remaining number of products on PDP, FP and Quickview.

{% endcomment %}

<style>
  .wishlist-whale-button-collection {
    top: 38em !important;
  }

  @media only screen and (max-width: 600px) {
    .wishlist-whale-button-collection {
      top: 27em !important;
      right: 15px !important;
    }
  }
</style>

{%- liquid
  assign max_inventory = 10
  assign show_remaining_class = 'count-is-unavailable'
  assign current_inventory = 0

  if current_variant.inventory_policy == 'deny' and current_variant.inventory_management
    if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_inventory
      assign show_remaining_class = 'count-is-low'
      assign current_inventory = current_variant.inventory_quantity
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory
      assign show_remaining_class = 'count-is-in'
    else
      assign show_remaining_class = 'count-is-out'
    endif
  endif
-%}

<script data-product-remaining-json type="application/json">
  {
    {%- for variant in product.variants -%}
      {%- assign maximum = 11 -%}
      {%- assign quant = maximum | plus: 10 -%}
      {%- if variant.inventory_policy == 'deny' and variant.inventory_management -%}
        {%- assign quant = variant.inventory_quantity | at_most: maximum -%}
      {%- endif -%}
      "{{ variant.id | json }}": "{{ quant | json }}"{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  }
</script>

{%- capture inventory -%}
  <span data-remaining-max="{{ max_inventory }}" data-remaining-count>{{ current_inventory | default: 0 }}</span>
{%- endcapture -%}

<div class="variant__countdown {{ show_remaining_class }}" data-remaining-wrapper>
  <span class="variant__countdown--in">{{ 'products.product.in_stock' | t }}</span>
  <span class="variant__countdown--low">{{ 'products.product.remaining_html' | t: inventory: inventory }}</span>
  <span class="variant__countdown--out">{{ 'products.product.out_of_stock' | t }}</span>
  <span class="variant__countdown--unavailable">{{ 'products.product.item_unavailable' | t }}</span>
</div>


{% assign variant = product.selected_or_first_available_variant %}
{% if variant.inventory_management == 'shopify' %}
  {% assign inventory_levels = variant.inventory_levels %}
  {% assign online_levels = inventory_levels | where: 'location_type', 'online' %}
  {% assign in_store_levels = inventory_levels | where: 'location_type', 'physical' %}
  {% assign online_available = online_levels | map: 'available' | reduce: '+' %}
  {% assign in_store_available = in_store_levels | map: 'available' | reduce: '+' %}
  {% assign online_total = online_levels | map: 'inventory_quantity' | reduce: '+' %}
  {% assign in_store_total = in_store_levels | map: 'inventory_quantity' | reduce: '+' %}
  {% if online_available > 0 or in_store_available > 0 %}
    <div class="inventory-countdown">
      {% if online_available > 0 %}
        <div class="online-countdown">
          <span class="countdown-label">{{ 'Online' | t }}:</span>
          <span class="countdown-number">{{ online_available }}</span>
          <span class="countdown-total">{{ 'out of' | t }} {{ online_total }}</span>
          <span class="countdown-timer" data-remaining="{{ variant.online_store_availability.expires_at | date: "%s" }}"></span>
        </div>
      {% endif %}
      {% if in_store_available > 0 %}
        <div class="in-store-countdown">
          <span class="countdown-label">{{ 'In-store' | t }}:</span>
          <span class="countdown-number">{{ in_store_available }}</span>
          <span class="countdown-total">{{ 'out of' | t }} {{ in_store_total }}</span>
          <span class="countdown-timer" data-remaining="{{ variant.physical_store_availability.expires_at | date: "%s" }}"></span>
        </div>
      {% endif %}
    </div>
    <script>
      var countdownTimers = document.querySelectorAll('.countdown-timer');
      for (var i = 0; i < countdownTimers.length; i++) {
        var remaining = parseInt(countdownTimers[i].dataset.remaining);
        setInterval(function() {
          remaining--;
          if (remaining <= 0) {
            countdownTimers[i].innerHTML = '{{ "Sold out" | t }}';
            countdownTimers[i].parentNode.classList.add('sold-out');
          } else {
            var minutes = Math.floor(remaining / 60);
            var seconds = remaining % 60;
            countdownTimers[i].innerHTML = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
          }
        }, 1000);
      }
    </script>
  {% endif %}
{% endif %}


{% assign variant = product.selected_or_first_available_variant %}
{% if variant.inventory_management == 'shopify' %}
  {% assign inventory_levels = variant.inventory_levels %}
  {% assign online_levels = inventory_levels | where: 'location_type', 'online' %}
  {% assign in_store_levels = inventory_levels | where: 'location_type', 'physical' %}
  {% assign online_available = online_levels | map: 'available' | reduce: '+' %}
  {% assign in_store_available = in_store_levels | map: 'available' | reduce: '+' %}
  {% assign online_total = online_levels | map: 'inventory_quantity' | reduce: '+' %}
  {% assign in_store_total = in_store_levels | map: 'inventory_quantity' | reduce: '+' %}
  {% if online_available > 0 or in_store_available > 0 %}
    <div class="inventory-countdown">
      {% if online_available > 0 %}
        <div class="online-countdown">
          <span class="countdown-label">{{ 'Online' | t }}:</span>
          <span class="countdown-number">{{ online_available }}</span>
          <span class="countdown-total">{{ 'out of' | t }} {{ online_total }}</span>
        </div>
      {% endif %}
      {% if in_store_available > 0 %}
        <div class="in-store-countdown">
          <span class="countdown-label">{{ 'In-store' | t }}:</span>
          <span class="countdown-number">{{ in_store_available }}</span>
          <span class="countdown-total">{{ 'out of' | t }} {{ in_store_total }}</span>
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="out-of-stock-message">{{ 'Out of stock' | t }}</div>
  {% endif %}
{% endif %}
