<!-- /snippets/inventory-countdown.liquid -->

{% comment %}

  This snippet is used to show the remaining number of products on PDP, FP and Quickview.

{% endcomment %}

<style>
  .wishlist-whale-button-collection {
    top: 38em !important;
  }

  @media only screen and (max-width: 600px) {
    .wishlist-whale-button-collection {
      top: 27em !important;
      right: 15px !important;
    }
  }
</style>

{% assign variant = product.selected_or_first_available_variant %}
{% if variant.inventory_management == 'shopify' %}
  {% assign inventory_levels = variant.inventory_levels %}
  {% assign available_levels = inventory_levels | where: 'available', '>', 0 %}
  {% assign total_available = available_levels | map: 'available' | reduce: '+' %}
  {% assign total_inventory = inventory_levels | map: 'inventory_quantity' | reduce: '+' %}
  {% if total_available > 0 %}
    {% assign sold_online = total_inventory | minus: total_available %}
    {% assign sold_in_store = 0 %}
    {% if sold_online > 0 %}
      {% assign sold_in_store = total_inventory | minus: sold_online %}
    {% endif %}
    <div class="countdown">
      {% if sold_online > 0 %}
        <div class="countdown-item">
          <div class="countdown-number">{{ sold_online }}</div>
          <div class="countdown-label">{{ 'Sold online' | t }}</div>
        </div>
      {% endif %}
      {% if sold_in_store > 0 %}
        <div class="countdown-item">
          <div class="countdown-number">{{ sold_in_store }}</div>
          <div class="countdown-label">{{ 'Sold in-store' | t }}</div>
        </div>
      {% endif %}
      {% if total_available < total_inventory %}
        <div class="countdown-item">
          <div class="countdown-number">{{ total_available }}</div>
          <div class="countdown-label">{{ 'Left in stock' | t }}</div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endif %}
